.parallax-container {
    height: 400px !important;
  }

@font-face {
  font-family: titleFont;
  src: url(BETTALIA.ttf);
}

h1{
   font-family: titleFont;
   color: #FFFFFF;
   font-size: 700% !important;
}

p#slogan{
  font-family: titleFont;
  font-size: 500%;
  color: #e64a19;
  text-align: center;
}
#container {
  position: relative;
}
.foodAnimation {
  opacity: 0.5;
  position: absolute;
}


.z-depth-2:hover {
  box-shadow: 0 0 2px 1px black;
}

.legal:link{
  color: black;
}

.legal:visited{
  color: purple;
}
.legal:hover{
  color: blue;
}
