#map {
      position: relative;
      padding-bottom: 20%;
      padding-top: 20px;
      height: 0;
      overflow: hidden;
}

html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
